<dx-popup
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  [title]="title"
  (onHiding)="onHiding($event)"
  [showTitle]="true">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view 
      width="100%" 
      height="100%">
      <dx-form
        id="form"
        [formData]="formData"
        
        colCount=2>
        <dxi-item
          dataField="startDate"
          editorType="dxDateBox"
          [isRequired]="true"
          [editorOptions]="dateEditorOptions"
          >
        </dxi-item>
        <dxi-item
          dataField="endDate"
          editorType="dxDateBox"
          [isRequired]="true"
          [editorOptions]="dateEditorOptions"
          >
        </dxi-item>
        <dxi-item
          dataField="appointmentType"
          editorType="dxSelectBox"
          [isRequired]="true"
          [editorOptions]="{
            dataSource: typeDataSource,
            displayExpr: 'desc',
            valueExpr: 'id'
          }">
        </dxi-item>
        <dxi-item
          dataField="technicians"
          editorType="dxTagBox"
          [isRequired]="true"
          [editorOptions]="{
            dataSource: techniciansDataSource,
            displayExpr: getfullName,
            valueExpr: 'id'
          }">
        </dxi-item>
        <dxi-item
          dataField="serviceCenter"
          editorType="dxSelectBox"
          [isRequired]="true"
          [editorOptions]="{
            dataSource:centerDataSource,
            displayExpr:'name',
            valueExpr: 'id'
          }">
        </dxi-item>
        <dxi-item
          dataField="addendum"
          editorType="dxSelectBox"
          [isRequired]="true"
          [editorOptions]="{
            dataSource:addendumDataSource,
            displayExpr: 'name',
            valueExpr: 'id'
          }">
        </dxi-item>
        <dxi-item
          dataField="travelHours"
          editorType="dxTextBox"
          [isRequired]="true">
        </dxi-item>
        <dxi-item
          dataField="returnHours"
          editorType="dxTextBox"
          [isRequired]="true">
        </dxi-item>
        <dxi-item
          dataField="confirmed"
          editorType="dxCheckBox"
          ></dxi-item>
          
          
          <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
        
            <dx-button
              width="100%"
              id="button"
              text="Register"
              type="success"
              [useSubmitBehavior]="true"
            >
            </dx-button>
          </div>
      </dx-form>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="submitButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="cancelButtonOptions">
  </dxi-toolbar-item>
</dx-popup>
