<h2 class="content-block">Technician Schedule</h2>
<div>
    <app-filter
    (onSelected)="onSelectedRegion($event)"
    ></app-filter>
</div>
<div class="content-block">
    
    <div class="dx-card responsive-paddings">
        <!-- Configuration Options -->
        <dx-scheduler
            [dataSource]="scheduleStore"
            timeZone="America/Los_Angeles"
            textExpr="description"
            startDateExpr="startDateTime"
            endDateExpr="endDateTime"
            currentView="week"
            [groups]="['technicians']"
            (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
            [startDayHour]="6"
            [endDayHour]="18"
            [remoteFiltering]="true"
            >

            <!-- Views -->
            <dxi-view
                type="timelineDay"
                groupOrientation="vertical"
            ></dxi-view>
            <dxi-view
                type="timelineWorkWeek"
                groupOrientation="vertical"
            ></dxi-view>
            <dxi-view
                type="day">
            </dxi-view>
            <dxi-view
                type="week">
            </dxi-view>
            <dxi-view
                type="month">
            </dxi-view>
            
            <!-- Resourses -->
            <dxi-resource
                fieldExpr="technicians"    
                label="Technicians"          
                [dataSource]="techStore"
                [allowMultiple]="true"
                displayExpr="fullName"
            ></dxi-resource> 
            <dxi-resource
                fieldExpr="serviceCenter"    
                label="Service Center"          
                [dataSource]="centerStore"
                [allowMultiple]="false"
                displayExpr="name"
            ></dxi-resource>
            <dxi-resource
                fieldExpr="addendum"    
                label="Service Order"          
                [dataSource]="addendumStore"
                [allowMultiple]="false"
                displayExpr="name"
            ></dxi-resource>

            <!-- Custom Templates -->
            <div *dxTemplate="let technician of 'resourceCellTemplate'">
                <div class="name">
                    {{ technician.data.firstName }} {{ technician.data.lastName }}
                </div>
                <div class="info">
                    Service Center: {{ technician.data.primaryCenter }}
                    <br />
                    Qualifier: {{technician.data.qualifier}} 
                </div>
            </div>
            
            <div *dxTemplate="let appointment of 'appointment-template'">
                <div class="showtime-preview">
                  <div>{{ appointment.targetedAppointmentData.description }}</div>
                  
                </div>
              </div>

        </dx-scheduler>
    </div>
</div>
