
.dx-scheduler-appointment-title {
    white-space: normal;
}
.dx-fieldset {
    margin: 0;
    .dx-field {
        margin: 0;
    }
}
.dx-field-value-static {
    padding: 0;
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }
}
