<dx-button
        class="button-filter"
        text="Filter"
        (onClick)="displayFilter()"
></dx-button>
<dx-popup
    [width]="400"
    [height]="700"
    [showTitle]="true"
    title="Schedule Filter"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    container=".dx-viewport"
    [(visible)]="filterVisible"
>
  <dxo-position at="center" my="center"> </dxo-position>
  <div id="form-filter">
    <div class="widget-container">
      <div>Select Region:</div>
      <dx-select-box
        valueExpr="id"
        displayExpr="name"
        [dataSource]="regionStore"
        label="Select Region"
        [searchEnabled]="true"
        (onValueChanged)="onValueChanged($event)"
      ></dx-select-box>
    </div>
  </div>
  <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="emailButtonOptions"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeButtonOptions"
    ></dxi-toolbar-item>
</dx-popup>

