
<dx-popover>
    <dxi-toolbar-item
        location="center" 
        widget="dxButton" 
        [options]="{
            icon:'edit',
            onclick: onEditClick
        }">
    </dxi-toolbar-item>
    <dxi-toolbar-item
        location="center"
        widget="dxButton"
        [options]="{
            icon: 'trash',
            onclick: onDeleteClick
        }">
    </dxi-toolbar-item>
    <dx-scroll-view>
        <div class="form">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Customer Name:</div>
                    <div class="dx-field-value-static">{{ appointment.billingCustName}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Service Order #:</div>
                    <div class="dx-field-value-static">{{appointment.addendumName}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Jobsite Address:</div>
                    <div class="dx-field-value-static">{{appointment.JobsiteAddress}}</div>
                </div>
                <div class="dx-field" *ngIf="appointment.confirmed">
                    <div class="dx-field-label">Confirmed by:</div>
                    <div class="dx-field-value-static">{{appointment.confirmedBy}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Technicians:</div>
                    <div class="dx-field-value-static">
                        <ul>
                            <li *ngFor="let tech of technicians">
                                {{tech.fullName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Labor Hours:</div>
                    <div class="dx-field-value-static">{{appointment.addendumLaborHours}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Scheduled By:</div>
                    <div class="dx-field-value-static">{{appointment.scheduledBy}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Phone number:</div>
                    <div class="dx-field-value-static">{{appointment.scheduledBy}}</div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Comment:</div>
                    <div class="dx-field-value-static">{{appointment.description}}</div>
                </div>
            </div>
        </div>
    </dx-scroll-view>
</dx-popover>