/* You can add global styles to this file, and also import other style files */
.dx-scheduler-appointment {
    background-color: #1e90ff !important;
}
.dx-state-travel {
    cursor: default;
    opacity: 1;
    pointer-events: auto;
    background-color: #1e8d91 !important;
}
.dx-state-confirmed {
    background-color: #419e41 !important;

}
.dx-state-misc {
    background-color: #ba8f63 !important;

}